.qlib/**
.venv/**
*.pyc
__pycache__/
mlruns/**
mnt/**
.github/**
**.csv
features/**
calendars/**
**.qlib/**
**us_data/**
mlruns/**
mnt/**
instruments/**
**.html
full_version/**
**.pkl
**.pkl
best_transformer.pkl
ttc/**
image/**
tempfile.txt
